body{
    padding: 100px;
}
.submit-Area{
    box-shadow: 5px 5px 10px  gray;
 margin-top: 50px;
   padding: 40px ;
   border-radius: 10px;
}
#tran-area
{
    display: none;
}
.deposite
{
    background-color: hotpink;
}
.withdraw{
    background-color: blueviolet;
}
.blance{
    background-color: lightblue;
}
.str{
    
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    color: white;
}
